<div class="jumbotron">
	<center>
		<h1>Welcome to Alison's Pizza</h1>
		<img src="http://38.media.tumblr.com/tumblr_m33unm9Rpb1qd63d4.jpg"
		alt="">
		<br>

		<%= link_to "Check out our Pizzas!",
		pizzas_path, class: "btn btn-default" %>
	</center>
</div>