<h1>About</h1>
<p>Adventures is an app created by Alison Lutz for Tech Talent South to practice using Rails.</p>
<p>This is a practice web application.</p>
<p>If this works, the font of the body should be green, and the font of the heading should be blue!</p>