<center>

<h1>Welcome to Alison's Movie Database</h1>

<img src="http://www.taylorrentalofholyoke.com/v/vspfiles/photos/SKU_Popcorn_Boxes-2.jpg">

	<p><%= link_to "Genres", genres_path, class: "btn btn-default"%>
	<%= link_to "Actors", actors_path, class: "btn btn-default" %>
	<%= link_to "Movies", movies_path, class: "btn btn-default" %></p>
</center>