<div class ="jumbotron">

<center>
<h1>Welcome to the Pet Club Association of America</h1>
<p><%= "Your link to pet clubs across the country!" %></p>
<br>
<img src="http://www.trbimg.com/img-531d9405/turbine/sns-viral-awkward-pets-pictures">
<br>
<br>
	<h2><%= link_to "Clubs", clubs_path, class: "btn btn-default" %>
	<%= link_to "Owners", owners_path, class: "btn btn-default" %>
	<%= link_to "Pets", pets_path, class: "btn btn-default" %></h2>
</center>
</div>