<center>

<h1>About Rails University</h1>
<br>
<p>Rails U is not a real school.</p>
<p>It was not founded in any year, nor does it have any ranking.</p>
<p>We do not recomment attending Rails U, but we do recommend attending Tech Talent South!</p>
<br>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQlMKwGueWtZzaC6_gRTadC_inhsaJvUafRqIwcW5YtSGxgjKR75g">
</center>
